doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Админка
    link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/admin-order-style.css')
  body
    .background
      button(id="notifBtn") Тест Уведомление на телефоне
      .main-container-admin
        .exitbutton.fa.fa-sign-out(aria-hidden='true' id="logout")
        .admin-side-panel
          .admin-side-panel-logo-container
            img(src='../image/Logo/LogoTest.png')
            span Стол заказов
          #newOr.active-admin-side-panel-item-button.admin-side-panel-item-button(data-tab='1')
            span.admin-panel-span-icon.fa.fa-shopping-cart
            span.admin-panel-span-text Новые заказы
          .admin-side-panel-item-button(data-tab='2')
            span.admin-panel-span-icon.fa.fa-shopping-cart
            span.admin-panel-span-text Выполненные заказы
        .admin-main-panel
          .container-active-order-panel.active-panel
            .title-order-panel Новые заказы
            .clearfix.container-items-order-panel
              //- #{dataAdmin}
              mixin orderNew(item)
                if(item.status == "Новый")
                  .main-items-order-panel(id= item._id)
                    .container-date-and-time
                      .items-order.date-and-time-items-order= "Получено: " + item.dateTimeIn + " — " + item.status
                    .container-row
                      .container-customer
                        .items-order.name-items-order= "Имя: " + item.firstName
                        .items-order.surname-items-order= "Фамилия: " + item.lastName
                        .items-order.patronymic-items-order= "Отчество: " + item.lastName
                        .items-order.phone-items-order= "Телефон: " + item.phone
                      .container-address
                        .items-order.street-items-order= "Улица: " + item.street
                        .items-order.home-items-order= "Дом: " + item.house
                        .items-order.porch-items-order= "Подъезд: " + item.entrance
                        .items-order.level-items-order= "Этаж: " + item.floor
                        .items-order.apartment-items-order= "Квартира: " + item.apartment
                        .items-order.comment-items-order= "Комментарий: " + item.comment
                        .items-order.promocode-items-order= "Промокод: " + item.promocode
                    .name-restaurant= "Заведение: " + item.restName
                    .spoiler-items-order-panel.spoiler(id='')
                      .title-spoiler
                        .icon-basket.fa.fa-shopping-basket
                        .name-spoiler Заказанные блюда
                        .icon-spoiler.fa.fa-chevron-down
                      .content-spoiler.close-spoiler
                        mixin dishes(dish)
                          .container-item-spoiler
                            .name-dish= dish.name
                            .count-dish= dish.count
                        for dish in item.dishes
                          +dishes(dish)   
                    .container-count-and-price
                      div= "Кол-во: "
                        span.redBoldText= item.totalCount
                      div= "Общая стоимость: "
                        span.redBoldText= item.totalPrice.toFixed(2) + " руб."
                    button(class="btn-order btn-order_delete" type='submit' data-id-order= item._id data-type-order="delete") Удалить заказ   
                    button(class="btn-order btn-order_accept" type='submit' data-id-order= item._id data-type-order="accept") Подвердить заказ   
                    button(class="btn-order btn-order_copy") Копировать заказ   
              for item in dataAdmin
                +orderNew(item)    
          .container-done-order-panel
            .title-order-panel Выполненные заказы
            .clearfix.container-items-order-panel
              mixin orderAccpeted(item)
                if(item.status == "Принят")
                  .main-items-order-panel(id= item._id)
                    .container-date-and-time
                      .items-order.date-and-time-items-order= "Получено: " + item.dateTimeIn + " — " + item.status
                    .container-row
                      .container-customer
                        .items-order.name-items-order= "Имя: " + item.firstName
                        .items-order.surname-items-order= "Фамилия: " + item.lastName
                        .items-order.patronymic-items-order= "Отчество: " + item.lastName
                        .items-order.phone-items-order= "Телефон: " + item.phone
                      .container-address
                        .items-order.street-items-order= "Улица: " + item.street
                        .items-order.home-items-order= "Дом: " + item.house
                        .items-order.porch-items-order= "Подъезд: " + item.entrance
                        .items-order.porch-items-order= "Этаж: " + item.floor
                        .items-order.apartment-items-order= "Квартира: " + item.apartment
                        .items-order.apartment-items-order= "Комментарий: " + item.comment
                        .items-order.apartment-items-order= "Промокод: " + item.promocode
                    .name-restaurant= "Заведение: " + item.restName
                    .spoiler-items-order-panel.spoiler(id='')
                      .title-spoiler
                        .icon-basket.fa.fa-shopping-basket
                        .name-spoiler Заказанные блюда
                        .icon-spoiler.fa.fa-chevron-down
                      .content-spoiler.close-spoiler
                        mixin dishes(dish)
                          .container-item-spoiler
                            .name-dish= dish.name
                            .count-dish= dish.count
                        for dish in item.dishes
                          +dishes(dish)   
                    .container-count-and-price
                      div= "Кол-во: "
                        span.redBoldText= item.totalCount
                      div= "Общая стоимость: "
                        span.redBoldText= item.totalPrice + " руб."
                    button(class="btn-order btn-order_delete" type='submit' data-id-order= item._id data-type-order="delete") Удалить заказ
              for item in dataAdmin
                +orderAccpeted(item)    
          .container-users-panel
          .container-money-panel
    script(src='../js/spoiler.js')
    //script(src='../js/plugins/socket.js')
    script(src='../plugins/axios.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    script(src='../js/serviceWorker.min.js')
    script(src='../js/push.min.js')
    audio(src='../js/Elara.mp3')
    script(src='../plugins/clipboard.js')
    script(src='../js/script-clipboard.js')
    //- audio(src='../js/Rhea.ogg')
    script(src='../js/admin.js')
    script(src='../js/active-tab-admin.js')

