doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/admin-order-style.css')
  body
    .background
      .main-container-admin
        .admin-side-panel
          .admin-side-panel-logo-container
            img(src='../image/Logo/LogoTest.png')
            span Стол заказов
          .admin-side-panel-item-button
            span.admin-panel-span-icon.fa.fa-shopping-cart
            span.admin-panel-span-text Новые заказы
          .admin-side-panel-item-button
            span.admin-panel-span-icon.fa.fa-shopping-cart
            span.admin-panel-span-text Выполненные заказы
        .admin-main-panel
          .container-order-panel
            .title-order-panel Новые заказы
            .clearfix.container-items-order-panel
              //- #{dataAdmin}
              mixin order(item)
                .main-items-order-panel
                  .container-date-and-time
                    .items-order.date-and-time-items-order= "Получено: " + item.dateTimeIn
                  .container-row
                    .container-customer
                      .items-order.name-items-order= "Имя: " + item.firstName
                      .items-order.surname-items-order= "Фамилия: " + item.lastName
                      .items-order.patronymic-items-order= "Отчество: " + item.lastName
                      .items-order.phone-items-order= "Телефон: " + item.phone
                    .container-address
                      .items-order.street-items-order= "Улица: " + item.street
                      .items-order.home-items-order= "Дом: " + item.house
                      .items-order.porch-items-order= "Подъезд: " + item.entrance
                      .items-order.porch-items-order= "Этаж: " + item.floor
                      .items-order.apartment-items-order= "Квартира: " + item.apartment
                  .name-restaurant= "Заведение: " + item.restName
                  .spoiler-items-order-panel.spoiler(id='')
                    .title-spoiler
                      .icon-basket.fa.fa-shopping-basket
                      .name-spoiler Заказанные блюда
                      .icon-spoiler.fa.fa-chevron-down
                    .content-spoiler.close-spoiler
                      mixin dishes(dish)
                        .container-item-spoiler
                          .name-dish= dish.name
                          .count-dish= dish.count
                      for dish in item.dishes
                        +dishes(dish)   
                  .container-count-and-price
                    div= "Кол-во: "
                      span.redBoldText= item.dishes.length
                    div= "Общая стоимость: "
                      span.redBoldText= item.totalPrice + " руб."
              for item, index in dataAdmin
                +order(item)    
          .container-restaurants-panel
          .container-users-panel
          .container-money-panel
    script(src='../js/spoiler.js')
