doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../../css/bootstrap.css')
		link(rel='stylesheet', href='../../css/swal-style.css')
		link(rel='stylesheet', href='../../css/normalize.css')
		link(rel='stylesheet', href='../../css/style.css')
		link(rel='stylesheet', href='../../css/header.css')
		link(rel='stylesheet', href='../../css/hamburger-menu.css')
		link(rel='stylesheet', href='../../css/modal-authorization.css')
		link(rel='stylesheet', href='../../css/modal-registration.css')
		link(rel='stylesheet', href='../../css/input.css')
		link(rel='stylesheet', href='../../css/footer.css')
		link(rel='stylesheet', href='../../css/wrapper.css')
		link(rel='stylesheet', href='../../css/constructor-style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
body
	.wrapper
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.main-container-constructor
			.container-title-page
				span= dataConstr.titles[0] + ' - ' + dataConstr.restName
			.container-constructor
				.container-constructor-section
					.container-ingredients
						.container-title
							h4 Ингридиенты
						#ingredients.container-ingredients-items
							mixin ingr(item)  
								.ingredients-items-plus.ingredients-items(data-id-ingredients= item._id)
									span.plus-ingredients.fa.fa-plus-square
									img.b-lazy(data-src= item.img, src='../image/rest/rest_placeholder.svg')
									span= item.name
									span= item.price+' руб.'
							for item, index in dataConstr
								+ingr(item)
					.container-my-food
						.container-title
							h4= dataConstr.titles[1]
						#my-ingredients.container-ingredients-items
							mixin ingr(item)
								.ingredients-items-minus.ingredients-items.ingredients-items-hidden(data-id-ingredients= item._id)
									span.minus-ingredients.fa.fa-minus-square
									img.b-lazy(src=item.img)
									span.name-ingredients= item.name
									span.price-ingredients= item.price+' руб.'
							for item, index in dataConstr
								+ingr(item)
				.container-constructor-button
					span Кол-во блинчиков:
					.card-dish-action
						.inpMinus -
						input.dishCount(type='number', step='1', min='1', max='50', name='dishCount', value='1', readonly='')
						.inpPlus +
					#button-remove-pancake.button-remove-pancake Очистить
					#button-cart-post.button-add-pancake Добавить
		include footer.pug
	script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
	script(src='../../js/hamburger-menu.js')
	script(src='../../plugins/lazy/blazy.js')
	script(src='../../js/rest.js')
	script(src='../../js/open-modal.js')
	script(src='../../js/plus-and-minus.js')
	script(src='../../js/constructor.js')